@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}
    
    .container {
      width: 1460px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(12, 90px);
      grid-template-rows: 100px 200px repeat(2, 468px);
      grid-template-areas: 
        "logo logo logo logo logo logo logo logo logo logo-btn logo-btn logo-btn"
        "titles titles titles titles titles titles titles titles titles titles titles titles"
        "a1 a1 a1 a1 a2 a2 a2 a2 a3 a3 a3 a3" 
        "a4 a4 a4 a4 a4 a4 a5 a5 a5 a5 a5 a5";
      grid-gap: 34px;
    }
    
    .a1 {
      grid-area: a1;
      background: #634F2C;
      color: #FFF;
      text-align: center;
      font-family: Gilam;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    .a2 {
      grid-area: a2;
      background: #B4A385;
      color: #FFF;
      text-align: center;
      font-family: Gilam;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    .a3 {
      grid-area: a3;
      background: #E4B564;
      color: #FFF;
      text-align: center;
      font-family: Gilam;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    .a4 {
      grid-area: a4;
      background: #635A4A;
      color: #FFF;
      text-align: center;
      font-family: Gilam;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    .a5{
      grid-area: a5;
      background: #B08C4D;
      color: #FFF;
      text-align: center;
      font-family: Gilam;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    
    .logo {
      grid-aria: logo;
      display: grid;
      grid-template-columns: 200px 250px;
      grid-template-rows: 50px 50px;
      width: 350px;
      color: white;
      font-family: sans-serif;
      grid-template-areas: "title text1" "title text2";
    }
    .title {
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 120px;
    }
    .text1 {
      grid-area: text1;
      font-size: 45px;
        display: flex;
      align-items: center;
    }
    .text2 {
      grid-area: text2;
      font-size: 45px;
        display: flex;
      align-items: center;
    }



@font-face {
	font-family: 'Gilam';
	src: url('FileName.otf');
}
.container-main {
  max-width: 1460px;
  margin: auto;
}
.container2{
  display: grid;
  grid-template-columns: repeat(12, 1fr );
  grid-template-rows: 80px repeat(2, 390px);
  grid-template-areas: 'title title title title title title title title title title btn btn' 
    'b1 b1 b1 b1 b2 b2 b2 b2 b3 b3 b3 b3'
     'b4 b4 b4 b4 b5 b5 b5 b5 b6 b6 b6 b6';
/*   zoom: 0.5; */
  max-width: 1460px;
  margin: auto;
  
}
.btn{
  gap: 10px;
  text-decoration: none;
  justify-self: end;
  grid-area: btn;
  padding: 10px 44px;
  border: 1px solid #E4B564;
  color:  #E4B564;
  background: transparent;
  transition: 0.2s;
  cursor: pointer;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-btn {
  grid-area: logo-btn;
  cursor: pointer;

}
.btn:hover{
  background: #E4B564;
  color: black;
}
.a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a p{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}


.title2{
  justify-self: start;
  grid-area: title;
  color: #FFF;
  font-family: Gilam;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px; /* 56% */
  padding-bottom: 30px;
} 
body{
  max-width: 1920px;
  background: #000;
}
.block  {
  background: red;
  height: 390px;
  border: 1px solid white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 44px 61px;
  text-align: center;
  color: white;
}
.block p { 
  color: #FFF;
text-align: center;
font-family: Gilam;
font-size: 22px;
font-weight: 500;
line-height: 28px; /* 127.273% */
}
.block-1 {
  background: #634F2C;
  grid-area:b1
  
}
.block-2{
  background: rgba(232, 210, 171, 0.76);
  grid-area:b2
}
.block-3 {
  background: #E4B564;
  grid-area:b3
}
.block-4 {
  background: #635A4A;
  grid-area:b4
}
.block-5 {
  background: #B08C4D;
  grid-area:b5
}
.block-6{
  background: #634F2C;
  grid-area:b6
}
.park{
  grid-area: park;
}

/* .container
.block
.block-$ 
a*5
12 columns
1fr
dg 

.block.block-$*6
bg


for container:
  max-width: 1460px;
  margin: auto;

  p10:44

font-style: italic

line-height: */
.park{
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
  grid-template-rows: 80px repeat(3, auto);
  grid-template-areas: "vs vs vs vs vs vs vs vs vs vs vs vs"
  "park-1 park-1 park-1 park-1 park-2 park-2 park-2 park-2 park-3 park-3 park-3 park-3"
  "park-4 park-4 park-4 park-4 park-5 park-5 park-5 park-5 park-6 park-6 park-6 park-6"
  "park-4 park-4 park-4 park-4 park-5 park-5 park-5 park-5 park-7 park-7 park-7 park-7";
grid-gap: 29px;


}
.park div {
  padding: 44px 52px;
}
.item{
  color: #FFF;
font-family: Gilam;
font-size: 20px;
font-weight: 700;

}
.vs{
  text-align: left;
  display: flex;
  grid-area: vs;
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
}
.park-1{
    grid-area: park-1;
    background: #0E0E0E;
    width: 467px;
    height: 313px;
    font-family: Gilam;
    color: #FFF;
    font-size: 20px;
  
  
    }
.park-2{
  grid-row: span2;
  grid-area: park-2;
  background: #242424;
  width: 467px;
  height: 439px;
  font-family: Gilam;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  

}
.park-3{
  grid-area: park-3;
  background: #1F1F1F;
  width: 467px;
  height: 255px;
  font-family: Gilam;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;

}
.park-4{
  grid-area: park-4;
  background: #1F1F1F;
  width: 467px;
  height: 560px;
  font-family: Gilam;
  margin-top: -150px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;


}
.park-5{
  grid-row: span2;
  grid-area: park-5;
  background: #E4B564;
  width: 467px;
  height: 405px;
  font-family: Gilam;
  color: #000;
  font-size: 20px;
  font-weight: 500;

}
.park-6{
  margin-top: -150px;
  grid-area: park-6;
  background: #0E0E0E;
  width: 467px;
  height: 243px;
  font-family: Gilam;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;


}
.park-7{
  grid-area: park-7;
  background: #0A0909;
  width: 467px;
  height: 277px;
  font-family: Gilam;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;

}
.img{
  margin: 171 151 171 151;
 
}
.titles{
  grid-area: titles;

}
.text3{
  color: #FFF;
font-family: Gilam;
font-size: 50px;
font-weight: 700;
line-height: 28px; 
}
.h3{
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-weight: 700;
line-height: 28px; 
}
.block-2text{
  text-align: center;
  color: #FFF;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 28px;
width: 320px;
}



